.text-center{
    margin-left: 206px;
}
.jumbotron{
    padding-left: 120px;
    padding-right: 1200px;
}
.pad{
    font-family: 'Comfortaa', cursive;

    font-family: 'Courgette', cursive;
 
    background-color: dimgray;
    color: gainsboro;
}